NEXT_PUBLIC_DUITBIZ_API_KEY=""
NEXT_PUBLIC_DUITBIZ_AUTH_DOMAIN=""
NEXT_PUBLIC_DUITBIZ_PROJECT_ID=""
NEXT_PUBLIC_DUITBIZ_STORAGE_BUCKET=""
NEXT_PUBLIC_DUITBIZ_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_DUITBIZ_APP_ID=""

NEXT_PUBLIC_DUITSTOCK_API_KEY=""
NEXT_PUBLIC_DUITSTOCK_AUTH_DOMAIN=""
NEXT_PUBLIC_DUITSTOCK_PROJECT_ID=""
NEXT_PUBLIC_DUITSTOCK_STORAGE_BUCKET=""
NEXT_PUBLIC_DUITSTOCK_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_DUITSTOCK_APP_ID=""

NEXT_PUBLIC_SUPPLIER_API_KEY=""
NEXT_PUBLIC_SUPPLIER_AUTH_DOMAIN=""
NEXT_PUBLIC_SUPPLIER_PROJECT_ID=""
NEXT_PUBLIC_SUPPLIER_STORAGE_BUCKET=""
NEXT_PUBLIC_SUPPLIER_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_SUPPLIER_APP_ID=""
